<% if current_user.is_rider? %>
	<% if @trip.available_seats > 0 && !current_user.has_trip?  && !@trip.rider_requested?(current_user.id)%>
		<%= link_to 'Request', requests_path(:trip_id => @trip.id), remote: true, method: :post, id:'request-link', class: 'req-btn' %>
	<% end %>
<% end %>

<div class="requesters-list">
	Available Seats : <%= link_to '⬇', trip_seat_change_path(id: @trip.id, mode: 'dec'), method: :post, remote: true, class: "txt-btn seat-change", id: "seat-down" if @trip.available_seats > 0 && current_user == @trip.driver%> <%= @trip.available_seats %> <%= link_to '⬆', trip_seat_change_path(id: @trip.id, mode: 'inc'), method: :post, remote: true, class: "txt-btn", id: "seat-up" if current_user == @trip.driver %>
	<br/>

	<span>List of requesters</span>
	<% if @trip.present? %>
		<table class="confirmation-table">
			<% @trip.requests.each do |request|%>
				<tr>
					<% if request.confirmed %>
						<td class="confirm-success"><%= request.rider.name.capitalize %></td>
						<td class='confirm-success'> ✔ </td>
					<% else %>
						<td class="confirm-wait"><%= request.rider.name.capitalize %></td>
						<td class='confirm-wait'> ◷ </td>
					<% end %>
					<td>
            <% if !current_user.is_rider? %>
  						<% if !request.confirmed && @trip.driver_id==current_user.id && @trip.available_seats > 0%>
  							<%= link_to 'Confirm', confirm_request_path(req_id: request.id, trip_id: @trip.id), remote: true, id: 'request-confirm', class: 'confirm-btn'%>
  						<% end %>
            <% else %>
              <% if request.rider_id == current_user.id %>
                <%= link_to 'Delete', requests_destroy_path(req_id: request.id, trip_id: @trip.id), method: :delete, data:  {confirm: "Are you sure to delete this request ?"}, id: 'request-delete', class: 'confirm-btn danger'%>
              <% end %>
            <% end %>
					</td>
				</tr>
			<% end %>
		</table>
	<% end %>
</div>
