<% if current_user.is_rider? %>
	<% if @trip.available_seats > 0 && !current_user.has_trip?  && !@trip.rider_requested?(current_user.id)%>
		<%= link_to 'Request', requests_path(:trip_id => @trip.id), remote: true, method: :post, id:'request-link', class: 'req-btn' %>
	<% end %>
<% end %>

<div class="requesters-list">
	Available Seats : <%= @trip.available_seats %><br/>

	<span>List of requesters</span>
	<% if @trip.present? %>
		<table class="confirmation-table">
			<% @trip.requests.each do |request|%>
				<tr>
					<% if request.confirmed %>
						<td class="confirm-success"><%= request.rider.name.capitalize %></td>
						<td class='confirm-success'> ✔ </td>
					<% else %>
						<td class="confirm-wait"><%= request.rider.name.capitalize %></td>
						<td class='confirm-wait'> ◷ </td>
					<% end %>
					<td>
            <% if !current_user.is_rider? %>
  						<% if !request.confirmed && @trip.driver_id==current_user.id && @trip.available_seats > 0%>
  							<%= link_to 'Confirm', confirm_request_path(req_id: request.id, trip_id: @trip.id), remote: true, id: 'request-confirm', class: 'confirm-btn'%>
  						<% end %>
            <% else %>
              <% if request.rider_id == current_user.id %>
                <%= link_to 'Delete', requests_destroy_path(req_id: request.id, trip_id: @trip.id), remote: true, method: :delete, id: 'request-delete'%>
              <% end %>
            <% end %>
					</td>
				</tr>
			<% end %>
		</table>
	<% end %>

</div>
