<h2> Available trips </h2>
<% @trips.each do |trip| %>
	<%= link_to trip_path(trip.id), class: "trip-listing" do %>
		<h3><%= "#{trip.origin.capitalize} ⟶ #{trip.destination.capitalize}" %> </h3>
		<p>
			<span class="trip-meta-title">Starts in: </span><%= trip.start_time.strftime("%B %e, %Y at %I:%M %p") %><br>
			<span class="trip-meta-title">Owner: </span><%= trip.driver.name.capitalize %><br>
			<span class="trip-meta-title">Available: </span><%= trip.available_seats %><br>
		</p>
	<% end %>
<% end %>
