<h2> Available trips </h2>
<% @trips.each do |trip| %>
	<% trip_class = (trip.available_seats == 0 ? "trip-listing danger" : "trip-listing") %>
	<%= link_to trip_path(trip.id), class: trip_class do %>
		<h3><%= "#{trip.origin.capitalize} ⟶ #{trip.destination.capitalize}" %> </h3>
		<p>
			<span class="trip-meta-title">Starts in: </span><%= trip.start_time.strftime("%B %e, %Y at %I:%M %p") %><br>
			<span class="trip-meta-title">Owner: </span><%= trip.driver.name.capitalize %><br>
			<span class="trip-meta-title">Available: </span><%= trip.available_seats %><br>
		</p>
	<% end %>
<% end %>
<div class="trip-redirect-home redirect-links">
	<%= link_to "Back", root_path, class: "txt-btn" %>
</div>
