<h2><%= @trip.origin.capitalize %> ⟶ <%= @trip.destination.capitalize %> </h2>
<div class="trip-wrapper">
  <table class="trip-metadata">
    <tr>
      <td>Owner: </td>
      <td><%= @trip.driver.name %></td>
    </tr>
    <tr>
      <td>Mobile no: </td>
      <td><%= @trip.driver.mobile_no %></td>
    </tr>
    <tr>
      <td>Starting Time: </td>
      <td><%= @trip.start_time.strftime("%B %e, %Y at %I:%M %p") %></td>
    </tr>
  </table>
  
  <div id="requesters">
    <%= render 'requesters' %>
  </div>
</div>
<div class="redirect-links">
    <%= link_to 'Back', trips_path, class: 'txt-btn' %>
    <%= link_to 'Edit', edit_trip_path(@trip), class: 'txt-btn' if !current_user.is_rider? %>
    <%= link_to 'Cancel trip', trip_path(@trip), method: :delete, data:  {confirm: "Are you sure to delete this trip ?"}, class: 'txt-btn' if !current_user.is_rider? %>
</div>


<script>

$('.req-btn').click(function(){
  $('.req-btn').hide();
})

$('.confirm-btn').click(function(){
  $(this).hide();
})

</script>
