<h2><%= @trip.origin.capitalize %> ⟶ <%= @trip.destination.capitalize %> </h2>
<div class="trip-wrapper">
  <table class="trip-metadata">
    <tr>
      <td>Owner: </td>
      <td><%= @trip.driver.name %></td>
    </tr>
    <tr>
      <td>Mobile no: </td>
      <td><%= @trip.driver.mobile_no %></td>
    </tr>
    <tr>
      <td>Email: </td>
      <td><%= @trip.driver.email %></td>
    </tr>
    <tr>
      <td>Starting Time: </td>
      <td><%= @trip.start_time.strftime("%B %e, %Y at %I:%M %p") %></td>
    </tr>
  </table>
  <ul class="trip-path">
    <li class="heading">Route: </li>
    <li><%=@trip.origin.capitalize%></li>
    <% @path.each do |val|%>
      <li><%=val%></li>
    <% end %>
    <li><%=@trip.destination.capitalize%></li>
  </ul>

  <div id="requesters">
    <%= render 'requesters' %>
  </div>
</div>
<div class="redirect-links">
    <%= link_to 'Back', trips_path, class: 'txt-btn' %>
    <%= link_to 'Cancel trip', trip_path(@trip), method: :delete, data: {confirm: "Are you sure to delete this trip ?"}, class: 'txt-btn' if !current_user.is_rider? && current_user == @trip.driver %>
    <%= link_to 'Finish trip', finish_path(@trip), method: :post, class: 'txt-btn' if !current_user.is_rider? && current_user == @trip.driver %>
</div>


<script>

$('.req-btn').click(function(){
  $('.req-btn').hide();
})

$('#request-confirm').click(function(){
  $(this).hide();
})

</script>
