<div class="home-wrapper">
	<% if user_signed_in? %>
		<h2 class="user-diff">You want to ?</h2>
		<%= link_to(new_trip_path, class: "user-button") do %>
			<%=image_tag("driver.png")%>
			<span>Share your ride</span>
		<% end %>
		<%= link_to(trips_path, class: "user-button") do %>
			<%=image_tag("rider.png")%>
			<span>Look for a ride</span>
		<% end %>
	<% else %>
		<p class="text-area">
			Random text Random text Random text Random text<br>
			Random text Random text Random text Random text Random text Random textRandom text Random text Random text<br>
			Random text Random text Random text Random text <br>
		</p>
		<p class="button-container">
			<%= link_to "Login", new_user_session_path, class: "btn"%>
			<%= link_to "Signup", new_user_registration_path, class: "btn" %>
		</p>
		<%=image_tag("index-bg.jpg")%>
	<% end %>
</div>
