<div class="home-wrapper">
	<% if user_signed_in? %>
		<%= link_to 'Driver', new_trip_path %>
		<%= link_to 'Rider', '#'%>
		<p>
			hey geo... animate the signout button... like background is having a car image starting to ride
		</p>
	<% else %>
		<p class="text-area">
			Random text Random text Random text Random text<br>
			Random text Random text Random text Random text Random text Random textRandom text Random text Random text<br>
			Random text Random text Random text Random text <br>
		</p>
		<p class="button-container">
			<%= link_to "Login", new_user_session_path, class: "btn"%>
			<%= link_to "Signup", new_user_registration_path, class: "btn" %>
		</p>
		<%=image_tag("index-bg.jpg")%>
	<% end %>
</div>
