<!DOCTYPE html>
<html>
<head>
  <title>Corpocar</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="wrapper">
		<%= render "/layouts/header" %>
		<% if alert.present? %>
			<p class="alert">
				<span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
				<%= alert %>
			</p>
		<% end %>
		<div class="content">
			<%= yield %>
		</div>
		<%= render "/layouts/footer" %>
	</div>
</body>
</html>
